@import "../index.scss";

#cards {
    background: linear-gradient($azul1, $azul2);
    > div {
        @include flexbox();

        // Cards
        &:last-child {
            @include flexbox($fd: row);
            flex-wrap: wrap;
            height: 100%;
            margin: 1rem 0;

            // Cada card
            > div {
                @include flexbox();
                @extend %sombra;
                margin: 1rem;
                width: $card-width;
                background: $blanco;
                border-radius: $esquina;

                img {
                    width: 100%;
                    border-radius: $esquina $esquina 0 0;
                }

                // Botones
                div {
                    @include flexbox($fd: row);
                    margin: 2rem 0;

                    button {
                        margin: 0 1rem;
                    }
                }
            }
        }
    }
}