@import "../index.scss";

#cards {
    background: $blanco;
    > div {
        @include flexbox();

        // Contenedor de cards
        &:last-child {
            @include flexbox($fd: row);
            flex-wrap: wrap;
            height: 100%;
            margin: 1rem 0;

            // Cada card
            > div {
                @include flexbox();
                @extend %card;

                img {
                    width: 100%;
                    border-radius: $esquina $esquina 0 0;
                }

                span {
                    margin-top: 1rem;
                }

                // Botones
                div {
                    @include flexbox($fd: row);
                    margin: 2rem 0;
                    
                    > button {
                        @include boton();
                        &:first-child {
                            @include boton($blanco, $amarillo);
                        }
                    }
                }
            }
        }
    }
}