@import './index.scss';

#app {
  @include flexbox();
  max-width: 100vw;
  // height: 100vh;

  nav {
    @include flexbox(flex-start, center, column);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: $nav-width;
    background: $amarillo;
    color: $blanco;

    ul {
      @include flexbox(flex-start, center, column);

      li {
        // position: relative;
        // display: inline-block;
        margin: 1rem 0;
        padding: 0.5rem 0;
        width: 100%;
        text-align: center;
        img {
          width: 100%;
        }

        div {
          visibility: hidden;
          width: auto;
          height: auto;
          background-color: $blanco;
          color: #000;
          text-align: center;
          border-radius: 0 $esquina $esquina 0;
          padding: 1rem;

          /* Position the tooltip */
          position: absolute;
          top: 10%;
          left: 100%;
          z-index: 1;
        }

        &:hover {
          cursor: pointer;
          font-weight: bold;
          color: $amarillo;
          background: $blanco;
          transition: all 0.3s linear;
          div {
            visibility: visible;
          }
        }

        @include tablet() {
          div {
            top: 100%;
            left: 0;
          }
        }
        @include phone() {
          div {
            top: 100%;
            left: 0;
          }
        }
      }
    }

    @include phone() {
      @include flexbox($jc: flex-start, $fd: row);
      width: 100%;
      height: $nav-height;

      ul {
        @include flexbox(flex-start, center, row);
        height: 100%;

        li {
          margin: 0 1rem;
          height: 100%;
          img {
            height: 100%;
          }
          a {
            margin: auto;
          }
        }
      }
    }
    @include tablet() {
      @include flexbox($jc: flex-start, $fd: row);
      width: 100%;
      height: $nav-height;

      ul {
        @include flexbox(flex-start, center, row);
        height: 100%;

        li {
          margin: 0 1rem;
          height: 100%;
          img {
            height: 100%;
          }
          a {
            margin: auto;
          }
        }
      }
    }
  }

  main {
    @include flexbox();
    // flex-wrap: wrap;
    // min-height: 100%;

    > div {
      @include flexbox($jc: flex-start);
      // min-width: 100%;
      width: 100%;
      max-width: 100%;
      min-height: 100vh;
      padding-left: $nav-width;

      @include tablet() {
        padding-left: 0;
        &:first-child {
          padding-top: $nav-height + 1rem;
        }
      }
      @include phone() {
        padding-left: 0;
        &:first-child {
          padding-top: $nav-height + 1rem;
        }
      }
    }

    footer {
      // min-width: 100%;
      width: 100%;
      max-width: 100%;
      height: 100%;
      color: $blanco;
      padding-left: $nav-width;

      > div {
        height: 50vh;
        // width: 100%;

        &:first-child {
          background: url('./assets/alexandros-nicolopoulos-Q_vvoClk0Pk-unsplash.jpg');
          background-size: cover;
        }

        &:last-child {
          @include flexbox();

          ul {
            @include flexbox($fd: row);
            margin: 1rem;

            li {
              margin: 1rem;
              img {
                width: 2rem;
                height: 2rem;
              }
            }
          }
        }
      }

      @include phone() {
        padding-left: 0;
      }
      @include tablet() {
        padding-left: 0;
      }
    }
  }
}
