@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

//------COLORES------
$amarillo: #f5af19;
$crema: #ffffd8;
$cielo: #b5ead7;
$purpura: #c7ceea;
$azul: #366bcf;
$blanco: #fff;
$gris: #f0f0f0;
$fondo: #120d0a;

//------FUENTES-------
$fuente: 'Poppins';
$h1: 2rem;
$h2: 1rem;

//------TAMAÑOS-------
$esquina: 1rem;
$nav-width: 10rem;
$nav-height: 5rem;
$card-width: 300px;

//-------- MEDIAQUERIES --------
$tablet: 768px;
$desktop: 1024px;

//-------- MIXINS MEDIA QUERIES --------
@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

//------MIXINS--------
@mixin flexbox($jc: center, $ai: center, $fd: column) {
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin boton($bg: $amarillo, $text_c: $blanco) {
  background: $bg;
  color: $text_c;
  text-align: -webkit-center;
  cursor: pointer;
  padding: 1rem;
  margin: 0 0.5rem;

  @if ($bg == $blanco) {
    border: 1px solid $text_c;
  }

  &:hover {
    background-color: darken($bg, 5%);
  }
}

// -----EXTENDS-------
%sombra {
  box-shadow: 2px 1px 5px #000;
}

%card {
  @extend %sombra;
  margin: 1rem;
  width: $card-width;
  background: $blanco;
  border-radius: $esquina;
}

body {
  background-color: $fondo;
  font-family: $fuente;
}

h1 {
  font-size: $h1;
  font-weight: bold;
  margin: 2rem 0;
}

h2 {
  font-size: $h2;
  font-weight: bold;
  margin: 1rem 0;
}

p {
  letter-spacing: 1px;
  line-height: 1.8;
  padding: 0 0.5rem;
}

span {
  margin: 0 1rem 0 0.5rem;
}

label {
  font-weight: bold;
}

input[type=text],
textarea,
select {
  background: $blanco;
  border-bottom: 1px solid $amarillo;
  padding-left: 0.5rem;
  width: 50%;
}
